:root {
    --primare-text-color:  #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-font: Raleway, sans-serif;
    --primare-background-color: #ffffff;
}


.list {
    list-style: none;
}

body {
    color: var(--primare-text-color);
    background-color: var(--primare-background-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: .03em;

}
/* основний колір тексту*/
/* додатковий колір, заголовки  #212121*/
/* білий #FFFFFF */
/* акцент, фокус #2196F3 */
/* Studio #000000 */
/* ховер #F5F4FA */
/* додатковий фон#F5F4FA */
/* підсвічення кнопки hero #188ce8 */
/* фон footer #2f303a */

/* Logo */
.logo {
    text-decoration: none; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family:  var(--second-font);
}
.logo-studio {
    color: #000000;
 }
.logo-web {
    color: var(--accent-color);
}
/* site nav */
.site-nav .link ,
.tel-link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: .02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus  {
        color: var(--accent-color);
    }
.mailto-link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: .02em;
    text-decoration: none;
}
/* .mailto-link:hover {
    color: var(--accent-text-color);
}
.tel-link:hover {
    color: var(--accent-color);
} */


.hero-title {
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 1);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: .06em;
    text-transform: uppercase;
    text-align: center;
  }
/* Button */
.button{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: .06em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.button:hover,
.button:focus {
    background-color: #188ce8;
}
 
/* Прихований заголовок Переваги */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Заголовки */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}   
.team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }
.section-team {
    background-color: #F5F4FA;
}
.feature-list .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    }
 .feature-text {
    line-height: 1.71;
 }      
 .team-text {
    font-size: 16px;
    line-height: 1.19;
 }

 .footer {
    background-color: #2f303a;
 }

/* В макеті темний фон, тому зараз не видно */
.footer-address-link {
    color: #FFFFFF;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-logo-studio {
    color: #ffffff;
}


/* Фільтри Портфоліо*/
.button-filtre {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: .03em;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
.button-filtre:hover,
.button-filtre:focus {
    color: #FFFFFF;
    background-color:var(--accent-color);
} 

/* Проекти Портфоліо*/
.project-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.project-text {
    font-size: 16px;
    line-height: 1.875;
}


